In [1]:
1+2

3

In [2]:
tu = (23, 'abc', 4.56, (2,3), 'def')

In [3]:
tu = [23, 'abc', 4.56, (2,3), 'def']

In [40]:
li = ["abc", 34, 4.34, 23]

In [41]:
st = "Hello World"

In [42]:
st = 'Hello World'

In [43]:
st = """This is a multi-line
string that uses triple quotes."""

In [44]:
tu = (23, 'abc', 4.56, (2,3), 'def')

In [45]:
tu[1]

'abc'

In [46]:
li = ["abc", 34, 4.34, 23]

In [47]:
li[1]

34

In [48]:
st = "Hello World"

In [49]:
st[1]

'e'

In [51]:
t = (23, 'abc', 4.56, (2,3), 'def')

In [52]:
t[1]

'abc'

In [53]:
t[-3]

4.56

In [54]:
t = (23, 'abc', 4.56, (2,3), 'def')

In [55]:
t[1:4]

('abc', 4.56, (2, 3))

In [56]:
t[1:-1]

('abc', 4.56, (2, 3))

In [57]:
t[1:-1:2]

('abc', (2, 3))

In [58]:
t = (23, 'abc', 4.56, (2,3), 'def')

In [59]:
t[:2]

(23, 'abc')

In [60]:
t[2:]

(4.56, (2, 3), 'def')

In [61]:
t[:]

(23, 'abc', 4.56, (2, 3), 'def')

In [65]:
li1 = li

In [66]:
li2 = li[:]

In [27]:
t = [1, 2, 4, 5]

In [28]:
3 in t

False

In [29]:
4 in t

True

In [30]:
4 not in t

False

In [31]:
a = 'abcde'

In [32]:
'c' in a

True

In [33]:
'cd' in a

True

In [34]:
'ac' in a

False

In [35]:
(1, 2, 3) + (4, 5, 6)

(1, 2, 3, 4, 5, 6)

In [36]:
[1, 2, 3] + [4, 5, 6]

[1, 2, 3, 4, 5, 6]

In [38]:
"Hello" + " " + "World"

'Hello World'